:global(body) {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    font-family: var(--font-main);
    color: var(--color-text);
    
    /* 1. BLOQUEAMOS EL SCROLL GLOBAL DEL NAVEGADOR */
    overflow: hidden; 
}
.layout-container {
    display: flex;
    height: 100vh; /* Fijo a la altura de la pantalla */
    overflow: hidden; /* Bloquea scroll global */
}

.main-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Bloquea scroll de esta columna */
}

/* Este es el contenedor crema donde se ven el título y las tarjetas */
.content-area {
    flex: 1; /* Toma todo el espacio vertical restante */
    padding: 30px;
    overflow-y: hidden; 
    
    display: flex;
    flex-direction: column;
}